*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
body{
    background:#000
}
.logo img{
    width: 200px;
    filter: brightness(1) invert(1);
}
a{
    text-decoration: none;
}
nav{
    display: flex;justify-content: space-between;align-items: center;padding: 0 30px;
}
.midNav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.midNav a{
    text-transform: uppercase;
    display: inline-block;
    color: #fff;
}
.btn a{
    padding: 20px 30px;
    background-color: #fff;
}
#main h1{
    font-size: 6vw;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    padding: 0  20%;
}
#main h1 span{
    font-size: 3vw;
    padding: 3px 40px;
    margin: 0 30px;
    border-radius: 50px;
    background-color: brown;
}
#main h1:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
}
#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 76vh;
}
#main img{
    width: 200px;
    position: absolute;
    border-radius: 20px;
}
#main img:first-child{
    top: 15%;
    left: 7%;
}
#main img:nth-child(2){
    right: 6%;
    bottom: 12%;
}
#main h5{
    font-size: 20px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;

}